bcrypt==4.0.1
numpy<2.0
fastapi
uvicorn[standard]
python-multipart
moviepy
openai-whisper
google-generativeai
pydantic
python-dotenv
yt-dlp
imageio-ffmpeg
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy